<h1>Usu치rios Cadastrados</h1>

<table border="1">
    <tr>
        <h1>Usu치rios Cadastrados:</h1>
<a href="/usuarios/novo">Cadastrar novo usu치rio.</a>
<table border="1">
   <tr>
    <td>Id:</td>
    <td>Nickname:</td>
    <td>Nome:</td>
   </tr>
   {{#each usuarios}}
   <tr>
    <td>{{this.id}}</td>
    <td>{{this.nickname}}</td>
    <td>{{this.nome}}</td>
    <td>
      <a href="/usuarios/{{this.id}}/update">Atualizar usu치rio.</a>
    </td>
   </tr>
   {{/each}}
</table>
    </tr>
</table>
